~/
node_modules/
~/.vscode-root/
~/.vscode-root/User/globalStorage/state.vscdb
~/.vscode-root/User/workspaceStorage/384eff153dc5abc2a200c53ecd0dc263/state.vscdb
~/.vscode-root/User/globalStorage/state.vscdb
